
{% extends 'habits/base.html' %}
{% load static %}
{% load form_tags %}

{% block title %}Dashboard - ImProductive{% endblock %}

{% block content %}
    <div class="bg-pastel min-h-screen p-8">
        <h1 class="text-4xl font-bold mt-4 text-center text-gray-800">ImProductive Dashboard</h1>
        <div class="flex justify-center space-x-4 mt-4 mb-4">
            <button type="button" id="toggle_timer_manual" class="bg-blue-200 text-gray-800 py-2 px-3 rounded-lg hover:bg-blue-300">
                <img src="{% static 'habits/icons/toggle_timer.png' %}" alt="Toggle" class="w-8 h-8 inline">
            </button>
            <a href="{% url 'add_goal' %}" class="bg-green-200 text-gray-800 py-2 px-3 rounded-lg hover:bg-green-300">
                <img src="{% static 'habits/icons/add_goal.png' %}" alt="Add Goal" class="w-8 h-8 inline">
            </a>
            <a href="{% url 'add_habit' %}" class="bg-yellow-200 text-gray-800 py-2 px-3 rounded-lg hover:bg-yellow-300">
                <img src="{% static 'habits/icons/add_habit.png' %}" alt="Add Habit" class="w-8 h-8 inline">
            </a>
        </div>

        <div class="flex flex-wrap md:flex-nowrap mt-4">
            <!-- Left Column -->
            <div class="flex flex-col w-full md:w-2/3 space-y-4">
                <div class="p-4">
                    <h2 class="text-2xl font-semibold mb-4 text-center text-gray-800">Add Study Time</h2>
                    <form method="post" id="studyTimeForm" class="bg-white p-4 rounded-lg shadow-lg">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="study_time_input" class="block text-lg font-medium mb-2 text-gray-700">Study time:</label>
                            {{ form.study_time|add_class:"w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-300 bg-gray-100 text-gray-700" }}
                        </div>
                        <div class="mb-4">
                            <label for="id_category" class="block text-lg font-medium mb-2 text-gray-700">Category:</label>
                            {{ form.category|add_class:"w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-blue-300 bg-gray-100 text-gray-700" }}
                        </div>
                        <div class="mb-4">
                            <label for="timer" class="block text-lg font-medium mb-2 text-gray-700">Timer</label>
                            <div id="timer" class="form-control form-control-lg mt-2 bg-gray-100 text-gray-700 py-2 px-4 rounded-lg">00:00:00</div>
                            <div class="flex space-x-2 mt-2" aria-label="Timer controls" id="timer_controls">
                                <button type="button" class="bg-green-200 text-gray-800 py-2 px-4 rounded-lg hover:bg-green-300" onclick="startTimer()">
                                    <img src="{% static 'habits/icons/start.png' %}" alt="Start" class="w-5 h-5 inline"> Start
                                </button>
                                <button type="button" class="bg-yellow-200 text-gray-800 py-2 px-4 rounded-lg hover:bg-yellow-300" onclick="pauseTimer()">
                                    <img src="{% static 'habits/icons/pause.png' %}" alt="Pause" class="w-5 h-5 inline"> Pause
                                </button>
                                <button type="button" class="bg-red-200 text-gray-800 py-2 px-4 rounded-lg hover:bg-red-300" onclick="resetTimer()">
                                    <img src="{% static 'habits/icons/reset.png' %}" alt="Reset" class="w-5 h-5 inline"> Reset
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="study_time" id="study_time_hidden">
                        <button type="submit" class="bg-blue-200 text-gray-800 py-2 px-4 rounded-lg mt-3 hover:bg-blue-300" onclick="submitForm()">
                            <img src="{% static 'habits/icons/save.png' %}" alt="Save" class="w-5 h-5 inline"> Save
                        </button>
                        <a href="{% url 'index' %}" class="bg-gray-200 text-gray-800 py-2 px-4 rounded-lg mt-3 hover:bg-gray-300">
                            <img src="{% static 'habits/icons/delete.png' %}" alt="Cancel" class="w-5 h-5 inline"> Cancel
                        </a>
                    </form>

                    <script>
                        let timer;
                        let startTime;
                        let updatedTime;
                        let difference;
                        let tInterval;
                        let savedTime;
                        let running = false;
                        let paused = false;
                        let useTimer = false;

                        function toggleTimerManual() {
                            useTimer = !useTimer;
                            const input = document.getElementById('study_time_input');
                            const timerDiv = document.getElementById('timer');
                            const timerControls = document.getElementById('timer_controls');
                            const toggleButton = document.getElementById('toggle_timer_manual');

                            if (useTimer) {
                                input.readOnly = true;
                                timerControls.style.display = 'block';
                                timerDiv.style.display = 'block';
                                input.value = '00:00:00';
                                toggleButton.innerHTML = `<img src="{% static 'habits/icons/toggle.png' %}" alt="Toggle" class="w-5 h-5 inline"> Use Manual`;
                            } else {
                                input.readOnly = false;
                                timerControls.style.display = 'none';
                                timerDiv.style.display = 'none';
                                toggleButton.innerHTML = `<img src="{% static 'habits/icons/toggle.png' %}" alt="Toggle" class="w-5 h-5 inline"> Use Timer`;
                            }
                        }

                        function startTimer() {
                            if (!running) {
                                startTime = new Date().getTime();
                                tInterval = setInterval(getShowTime, 1000);
                                paused = false;
                                running = true;
                            }
                        }

                        function pauseTimer() {
                            if (!paused && running) {
                                clearInterval(tInterval);
                                savedTime = difference;
                                paused = true;
                                running = false;
                            }
                        }

                        function resetTimer() {
                            clearInterval(tInterval);
                            savedTime = 0;
                            difference = 0;
                            paused = false;
                            running = false;
                            document.getElementById("timer").innerHTML = "00:00:00";
                            document.getElementById("study_time_input").value = "00:00:00";
                        }

                        function getShowTime() {
                            updatedTime = new Date().getTime();
                            if (savedTime) {
                                difference = (updatedTime - startTime) + savedTime;
                            } else {
                                difference = updatedTime - startTime;
                            }
                            let hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            let minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
                            let seconds = Math.floor((difference % (1000 * 60)) / 1000);
                            hours = (hours < 10) ? "0" + hours : hours;
                            minutes = (minutes < 10) ? "0" + minutes : minutes;
                            seconds = (seconds < 10) ? "0" + seconds : seconds;
                            const currentTime = hours + ":" + minutes + ":" + seconds;
                            document.getElementById("timer").innerHTML = currentTime;
                            document.getElementById("study_time_input").value = currentTime;
                        }

                        function submitForm() {
                            const timeArray = document.getElementById("study_time_input").value.split(':');
                            if (timeArray.length === 3) {
                                const hours = parseInt(timeArray[0]);
                                const minutes = parseInt(timeArray[1]);
                                const seconds = parseInt(timeArray[2]);
                                const totalMinutes = (hours * 60) + minutes + (seconds / 60);
                                document.getElementById("study_time_hidden").value = totalMinutes.toFixed(2);
                            } else {
                                document.getElementById("study_time_hidden").value = document.getElementById("study_time_input").value;
                            }
                            document.getElementById("studyTimeForm").submit();
                        }

                        window.onload = function() {
                            toggleTimerManual(); // Set initial state to use input manually
                        }
                    </script>
                </div>

                <div class="p-4">
                    <div class="card bg-white rounded-lg shadow-lg">
                        <div class="card-header text-xl font-semibold bg-gray-200 p-4 rounded-t-lg text-gray-800">
                            Goals
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for goal in goals %}
                                <li class="list-group-item flex justify-between items-center bg-white text-gray-800 p-4 border-b border-gray-200">
                                    <span><strong>{{ goal.category.name }}:</strong> {{ goal.goal }} hours in {{ goal.month.name }}</span>
                                    <div class="flex space-x-2">
                                        <a href="{% url 'update_goal' goal.id %}" class="bg-yellow-200 text-gray-800 py-1 px-3 rounded-lg hover:bg-yellow-300">
                                            <img src="{% static 'habits/icons/update.png' %}" alt="Update" class="w-5 h-5 inline"> Update
                                        </a>
                                        <a href="{% url 'delete_goal' goal.id %}" class="bg-red-200 text-gray-800 py-1 px-3 rounded-lg hover:bg-red-300">
                                            <img src="{% static 'habits/icons/delete.png' %}" alt="Delete" class="w-5 h-5 inline"> Delete
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="p-4">
                    <div class="card bg-white rounded-lg shadow-lg">
                        <div class="card-header text-xl font-semibold bg-gray-200 p-4 rounded-t-lg text-gray-800">
                            Study Days
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for study in study_days %}
                                <li class="list-group-item flex justify-between items-center bg-white text-gray-800 p-4 border-b border-gray-200">
                                    <strong>{{ study.category.name }}:</strong> {{ study.study_time }} hours on {{ study.date_current }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div class="w-full md:w-1/1 p-4">
                <div class="card bg-white rounded-lg shadow-lg">
                    <div class="card-header text-xl font-semibold bg-gray-200 p-4 rounded-t-lg text-gray-800">
                        Study Goals and Progress Chart
                    </div>
                    <div class="card-body p-4">
                        <img src="data:image/png;base64,{{ chart }}" alt="Chart" class="img-fluid rounded-lg shadow-lg">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

